/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Common
# Animations
# Dot Style
# Main Menu
# Sidemenu
# Banner
# Service One
# Cat One
# Video One
# Cat Two
# Pricing One
# Testimonials One
# App shots
# FAQ
# Blog One
# Brand One
# Mailchimp One
# Site Footer
# Page Header
# BreadCrumb
# Blog Two
# Footer Two
# Blog Details
# Sidebar
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/


/*
font-family: 'Barlow', sans-serif;
font-family: 'Prata', serif;
*/

:root {
	--thm-font: 'Barlow', sans-serif;
	--heading-font: 'Prata', serif;
	--thm-base: #0798ff;
	--thm-base-rgb: 255, 174, 0;
	--thm-primary: #ffaf00;
	--thm-primary-rgb: 250, 73, 110;
	--thm-black: #000000;
	--thm-black-rgb: 0, 0, 0;
}



body {
	font-family: var(--thm-font);
	color: #8d8d8d;
	font-size: 18px;
	line-height: 36px;
	font-weight: 500;
}

a:active,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
}

.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 300px;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}


.thm-btn {
	display: inline-block;
	vertical-align: middle;
	border: none;
	outline: none;
	border-radius: 32px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 0px 50px;
	line-height: 64px;
	position: relative;
	transition: all .4s ease;
	background-color: var(--thm-base);
	overflow: hidden;
}

.thm-btn span {
	position: relative;
	transition: 500ms;
	z-index: 10;
	color: #fff;
}

.thm-btn:hover {
	background-color: var(--thm-primary);
}


/* block title */

.block-title {
	padding-bottom: 43px;
}

.block-title p {
	margin: 0;
	font-size: 20px;
	font-weight: 500;
	color: var(--thm-primary);
}

.block-title h3 {
	margin: 0;
	color: var(--thm-black);
	font-size: 60px;
	margin-top: 8px;
	font-family: var(--heading-font);
}

.bootstrap-select .btn-light:not(:disabled):not(.disabled).active,
.bootstrap-select .btn-light:not(:disabled):not(.disabled):active,
.bootstrap-select .show>.btn-light.dropdown-toggle {
	background-color: transparent !important;
	box-shadow: none !important;
	outline: none !important;
}

.bootstrap-select>.dropdown-toggle {
	box-shadow: none !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
	outline: none !important;
}

.bootstrap-select .dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	z-index: 991;
	border-radius: 0;
}

.bootstrap-select .dropdown-menu>li+li>a {
	border-top: 1px solid var(--thm-gray);
}

.bootstrap-select .dropdown-menu>li.selected>a {
	background: var(--thm-primary);
	color: #fff;
}

.bootstrap-select .dropdown-menu>li>a {
	font-size: 16px;
	font-weight: 500;
	padding: 4px 20px;
	color: var(--thm-black);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.bootstrap-select .dropdown-menu>li>a:hover {
	background: var(--thm-primary);
	color: #fff;
	cursor: pointer;
}

/* datepicker */

.datepicker.dropdown-menu {
	min-width: 17rem;
}

.datepicker table {
	width: 100%;
}

.post-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.post-pagination a {
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(225, 90, 19, .2);
	color: #9ca3a9;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 57px;
	height: 57px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.post-pagination a:hover {
	background-color: var(--thm-primary);
	color: #fff;
}

.post-pagination a.active {
	background-color: var(--thm-base);
	color: #fff;
	cursor: auto;
}

.post-pagination a+a {
	margin-left: 15px;
}


.preloader {
	position: fixed;
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9991;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.preloader__image {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: flipInY;
	animation-name: flipInY;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.scroll-to-top {
	display: inline-block;
	width: 45px;
	height: 45px;
	background-color: var(--thm-primary);
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 99;
	text-align: center;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	display: none;
	outline: none;
	background-size: auto 200%;
	border-radius: 50%;
	transition: all .4s ease;
}

.scroll-to-top i {
	color: #ffffff;
	font-size: 18px;
	line-height: 45px;
}

.scroll-to-top:hover {
	background-color: var(--thm-base);
}

.scroll-to-top:hover i {
	color: #fff;
}

.thm-base-bg {
	background-color: var(--thm-primary);
}

.thm-base-bg-2 {
	background-color: var(--thm-base);
}

.thm-gray-bg {
	background-color: var(--thm-gray);
}




/* Cursor Style */
.cursor {
	position: absolute;
	background-color: #fff;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	z-index: 1;
	-webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	-webkit-transform: scale(1);
	transform: scale(1);
	visibility: hidden;
}

.cursor {
	visibility: visible;
}

.cursor.active {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	-webkit-transform: scale(0);
	transform: scale(0);
}

.cursor.hovered {
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
}

.cursor-follower {
	position: absolute;
	background-color: RGBA(255, 255, 255, 0.3);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	z-index: 1;
	-webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
	transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	visibility: hidden;
}

.cursor-follower {
	visibility: visible;
}

.cursor-follower.active {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transform: scale(1);
	transform: scale(1);
}

.cursor-follower.hovered {
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
}

.cursor-follower.close-cursor:before {
	position: absolute;
	content: '';
	height: 25px;
	width: 2px;
	background: #fff;
	left: 48%;
	top: 12px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
}

.cursor-follower.close-cursor:after {
	position: absolute;
	content: '';
	height: 25px;
	width: 2px;
	background: #fff;
	right: 48%;
	top: 12px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/

@keyframes ripple {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.2);
	}
	75% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes videoBtnAnim {
	0% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	25% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	75% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@keyframes videoBtnAnim {
	0% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	25% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	75% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

@-webkit-keyframes banner3Shake {
	0% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}

	30% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	60% {
		-webkit-transform: rotate3d(1, 0, 0, 0deg);
		transform: rotate3d(1, 0, 0, 0deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}

}

@keyframes banner3Shake {
	0% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}

	30% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	60% {
		-webkit-transform: rotate3d(1, 0, 0, 0deg);
		transform: rotate3d(1, 0, 0, 0deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
		transform: rotate3d(0, 1, 0, 0deg);
	}

}

@-webkit-keyframes ImgBounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

@keyframes ImgBounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}


@-webkit-keyframes squareMover {

	0%,
	100% {
		-webkit-transform: translate(0, 0) rotate(0);
		transform: translate(0, 0) rotate(0);
	}

	20%,
	60% {
		-webkit-transform: translate(20px, 40px) rotate(180deg);
		transform: translate(20px, 40px) rotate(180deg);
	}

	30%,
	80% {
		-webkit-transform: translate(40px, 60px) rotate(0deg);
		transform: translate(40px, 60px) rotate(0deg);
	}
}


@keyframes squareMover {

	0%,
	100% {
		-webkit-transform: translate(0, 0) rotate(0);
		transform: translate(0, 0) rotate(0);
	}

	20%,
	60% {
		-webkit-transform: translate(20px, 40px) rotate(180deg);
		transform: translate(20px, 40px) rotate(180deg);
	}

	30%,
	80% {
		-webkit-transform: translate(40px, 60px) rotate(0deg);
		transform: translate(40px, 60px) rotate(0deg);
	}
}


@-webkit-keyframes shapeMover {

	0%,
	100% {
		-webkit-transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
		transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
	}

	50% {
		-webkit-transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
		transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
	}
}


@keyframes shapeMover {

	0%,
	100% {
		-webkit-transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
		transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
	}

	50% {
		-webkit-transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
		transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
	}
}



/*--------------------------------------------------------------
# Dot Style
--------------------------------------------------------------*/
.owl-carousel.owl-dot-type1 .owl-stage-outer {
	position: relative;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
}

.owl-carousel.owl-dot-type1 .owl-dots {
	position: relative;
	display: block;
	text-align: center;
	line-height: 12px;
	margin: 0 !important;
}

.owl-carousel.owl-dot-type1 .owl-dots .owl-dot {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #ffffff;
	border: 1px solid var(--thm-base);
	margin: 0px 5px;
	margin-top: 50px;
	padding: 0px;
	border-radius: 50%;
	-webkit-transition: all 100ms linear;
	transition: all 100ms linear;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.owl-carousel.owl-dot-type1 .owl-dots .owl-dot span {
	display: none;
}

.owl-carousel.owl-dot-type1 .owl-dots .owl-dot.active {
	border-color: var(--thm-base);
	background: var(--thm-base);
	outline: none;
}

/*--------------------------------------------------------------
# Main Menu
--------------------------------------------------------------*/

.site-header-one {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}



.site-header-one .container-fluid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1450px;
	margin-left: 100px;
	margin-right: auto;
}

@media(max-width: 1550px) {
	.site-header-one .container-fluid {
		margin-left: auto;
		margin-right: auto;
	}
}

.site-header-one__logo .side-menu__toggler {
	display: none;
	font-size: 22px;
	color: var(--thm-black);
	margin-left: 30px;
	cursor: pointer;
}


.main-nav__main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__main-navigation .main-nav__navigation-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 130px;
}

.main-nav__main-navigation .main-nav__navigation-box>li {
	padding: 39px 0;
	position: relative;
}

.main-nav__main-navigation .main-nav__navigation-box>li+li {
	margin-left: 64px;
}

.main-nav__main-navigation .main-nav__navigation-box>li>a {
	font-size: 17px;
	font-weight: 500;
	color: #8d8d8d;
	display: block;
	-webkit-transition: 500ms;
	transition: 500ms;
	position: relative;
}

.main-nav__main-navigation .main-nav__navigation-box>li>a:before {
	content: '';
	width: 100%;
	height: 3px;
	background-color: var(--thm-base);
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transition: -webkit-transform 500ms ease;
	transition: -webkit-transform 500ms ease;
	transition: transform 500ms ease;
	transition: transform 500ms ease, -webkit-transform 500ms ease;
	-webkit-transform-origin: left;
	transform-origin: left;
}


.main-nav__main-navigation .main-nav__navigation-box>li.current>a,
.main-nav__main-navigation .main-nav__navigation-box>li:hover>a {
	color: #000;
}

.main-nav__main-navigation .main-nav__navigation-box>li.current>a:before,
.main-nav__main-navigation .main-nav__navigation-box>li:hover>a:before {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: right;
	transform-origin: right;
}

.main-nav__main-navigation .dropdown-btn {
	display: none;
}

.main-nav__right .thm-btn {
	line-height: 54px;
	padding: 0 33.5px;
}


/* Dropdown menu */

.main-nav__main-navigation .dropdown-btn {
	display: none;
}

.main-nav__main-navigation .main-nav__navigation-box>li ul {
	position: absolute;
	width: 210px;
	background-color: #fff;
	border-top: 4px solid var(--thm-base);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-webkit-transform-origin: top;
	transform-origin: top;
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 991;
	-webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
	transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
	transition: transform 500ms ease, opacity 500ms ease, visibility 500ms ease;
	transition: transform 500ms ease, opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
}


.main-nav__main-navigation .main-nav__navigation-box>li ul>li {
	position: relative;
}

.main-nav__main-navigation .main-nav__navigation-box>li ul>li+li {
	border-top: 1px solid rgba(var(--thm-base-rgb), .3);
}

.main-nav__main-navigation .main-nav__navigation-box>li ul>li>a {
	display: block;
	color: var(--thm-black);
	font-size: 16px;
	font-family: var(--thm-font);
	word-break: break-all;
	padding-top: 9.5px;
	padding-bottom: 9.5px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.main-nav__main-navigation .main-nav__navigation-box>li ul>li:hover>a {
	color: #fff;
	background-color: var(--thm-black);
}



/* Second level menu */

.main-nav__main-navigation .main-nav__navigation-box>li>ul {
	top: 100%;
	left: 0;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);

	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.main-nav__main-navigation .main-nav__navigation-box>li:hover>ul {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/* Third level menu */

.main-nav__main-navigation .main-nav__navigation-box>li>ul>li>ul {
	top: 0;
	left: 100%;
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.main-nav__main-navigation .main-nav__navigation-box>li>ul>li:hover>ul {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/* After Third level menu */

.main-nav__main-navigation .main-nav__navigation-box>li>ul>li>ul>li>ul {
	display: none;
}

/* stricked menu */
.stricked-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: #ffffff;
	box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transform: translateY(-110%);
	transform: translateY(-110%);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.stricked-menu.stricky-fixed {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.stricked-menu .main-nav__main-navigation .main-nav__navigation-box>li {
	padding: 26px 0;
}

/* main nav btn */

.site-header-one .main-nav__right {
	margin-left: auto;
}

.main-nav__btn {
	background-image: none;
	font-size: 14px;
	padding: 6px 37.5px;
	border: 2px solid #fff;
}



.main-nav__btn:before {
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	background-image: -webkit-linear-gradient(left, var(--thm-primary) 0%, var(--thm-base) 100%);
	background-image: linear-gradient(90deg, var(--thm-primary) 0%, var(--thm-base) 100%);
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
}

.main-nav__btn:hover:before {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.main-nav__btn span {
	color: #fff;
	-webkit-text-fill-color: #fff;
}

.stricked-menu .main-nav__btn {
	border-color: var(--thm-black);
}

.stricked-menu .main-nav__btn span {
	color: var(--thm-black);
	-webkit-text-fill-color: var(--thm-black);
}

.stricked-menu .main-nav__btn:hover span {
	color: #fff;
	-webkit-text-fill-color: #fff;
}








/*--------------------------------------------------------------
# Sidemenu
--------------------------------------------------------------*/

.side-menu__block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: -webkit-transform .7s ease;
	transition: -webkit-transform .7s ease;
	transition: transform .7s ease;
	transition: transform .7s ease, -webkit-transform .7s ease;
}

.side-menu__block.active {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.side-menu__block-overlay {
	width: 100%;
	height: 100%;
	background-color: var(--thm-black);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: .7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.side-menu__block-overlay .cursor-follower {
	background-color: rgba(255, 255, 255, 0.3);
}

.side-menu__block-inner {
	position: relative;
	max-width: 532px;
	width: 100%;
	margin-right: auto;
	height: 100vh;
	background-color: #F6F6FE;
	z-index: 999999;
	overflow-y: auto;
	padding: 40px 0;
	padding-top: 20px;
	position: relative;
}

@media(max-width: 575px) {
	.side-menu__block-inner {
		max-width: 480px;
	}
}

@media(max-width: 480px) {
	.side-menu__block-inner {
		max-width: 400px;
	}
}

@media(max-width: 375px) {
	.side-menu__block-inner {
		max-width: 300px;
	}
}

.side-menu__block-inner .mCustomScrollBox {
	width: 100%;
}

.side-menu__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 40px;
}

.mobile-nav__container {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
}

.mobile-nav__container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav__container li.dropdown ul {
	display: none;
	padding-left: 0.5em;
}

.mobile-nav__container li.dropdown {
	position: relative;
}

.mobile-nav__container li.dropdown .dropdown-btn {
	border: none;
	outline: none;
	background-color: transparent;
	color: #9ca3a9;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: transfrom 500ms ease;
	transition: transfrom 500ms ease;
}

.mobile-nav__container li.dropdown .dropdown-btn.open {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.mobile-nav__container li+li {
	margin-top: 5px;
}

.mobile-nav__container li a {
	font-family: var(--special-font-smb);
	display: block;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	position: relative;
	font-size: 17px;
	font-family: var(--heading-font);
	color: var(--thm-black);
}

.mobile-nav__container li a:hover {
	color: var(--thm-base);
}

.mobile-nav__container li.current-menu-item>a,
.mobile-nav__container li.current>a {
	color: var(--thm-base);
}



.side-menu__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 40px;
}

.side-menu__social a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #e4e4ee;
	font-size: 16px;
	color: #fff;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.side-menu__social a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	-webkit-transform: scale(0);
	transform: scale(0);
	background: var(--thm-base);
	-webkit-transition: -webkit-transform 500ms ease;
	transition: -webkit-transform 500ms ease;
	transition: transform 500ms ease;
	transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.side-menu__social a:hover:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.side-menu__social a i {
	position: relative;
	z-index: 20;
}

.side-menu__social a+a {
	margin-left: 10px;
}

.side-menu__content {
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
}

.side-menu__content p {
	margin: 0;
	font-size: 14px;
	line-height: 32px;
	color: #7c7d8a;
	letter-spacing: .02em;
}

.side-menu__content p+p {
	margin-top: 30px;
}

.side-menu__content p a {
	color: var(--thm-base);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.side-menu__content p a:hover {
	color: var(--thm-primary);
}

.side-menu__sep {
	width: calc(100% - 200px);
	margin-left: auto;
	margin-right: auto;
	height: 1px;
	background-color: #fff;
	margin-top: 70px;
	margin-bottom: 70px;
}

.side-menu__text p {
	font-size: 14px;
	line-height: 32px;
	color: #7c7d8a;
	margin: 0;
	margin-bottom: 25px;
}


.side-menu__text a {
	color: var(--thm-base);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.side-menu__text a:hover {
	color: var(--thm-black);
}

.side-menu__block__copy {
	font-size: 16px;
	font-weight: 500;
	color: #7c7d8a;
	margin: 0;
}


@media(max-width: 575px) {

	.side-menu__top,
	.side-menu__content,
	.mobile-nav__container {
		padding-left: 50px;
		padding-right: 50px;
	}

	.side-menu__sep {
		margin-top: 40px;
		margin-bottom: 40px;
		width: calc(100% - 100px);
	}
}

@media(max-width: 480px) {

	.side-menu__top,
	.side-menu__content,
	.mobile-nav__container {
		padding-left: 25px;
		padding-right: 25px;
	}

	.side-menu__sep {
		width: calc(100% - 50px);
	}

	.side-menu__social {
		margin-top: 40px;
	}

	.side-menu__social a {
		width: 45px;
		height: 45px;
	}
}








/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/
.banner-one {
	position: relative;
	display: block;
	padding: 0 0 108px;
}

.banner-shape-1 {
	position: absolute;
	top: 30px;
	left: 0;
}

.banner-shape-2 {
	position: absolute;
	top: 60px;
	left: 0;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.banner-one__bg {
	position: absolute;
	top: -280px;
	right: -525px;
	height: 993px;
	width: 1167px;
	z-index: -1;
}

.banner-one__content {
	padding-top: 198px;
}

.banner-one__content h3 {
	color: var(--thm-black);
	font-size: 90px;
	font-weight: 400;
	line-height: 105px;
	margin: 0;
	letter-spacing: -.02em;
	font-family: var(--heading-font);
}

.banner-one__content p {
	color: #8d8d8d;
	font-size: 18px;
	margin: 35px 0px 44px;
}

.banner-img {
	position: relative;
	display: block;
	max-width: 370px;
	float: right;
	width: 100%;
	padding-top: 105px;
}

.banner-bg {
	position: absolute;
	top: 273px;
	right: -100px;
	width: 571px;
	height: 475px;
	background-repeat: no-repeat;
	z-index: -1;
}

.banner-img img:not(.banner-image__curvs) {
	-webkit-animation: ImgBounce 5s ease-in-out 0s infinite alternate;
	animation: ImgBounce 5s ease-in-out 0s infinite alternate;
}

.banner-icon-1,
.banner-icon-2,
.banner-icon-3 {
	height: 102px;
	width: 102px;
	border-radius: 50px;
	background: #ffffff;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.1);
	font-size: 54px;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: banner3Shake;
	animation-name: banner3Shake;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.banner-icon-1 {
	position: absolute;
	top: 401px;
	left: -125px;
	color: #0c99ff;
	font-size: 45px;
	width: 86px;
	height: 86px;
}

.banner-icon-2 {
	position: absolute;
	top: 663px;
	left: -111px;
	color: #ff4770;
}

.banner-icon-3 {
	position: absolute;
	top: 526px;
	color: #ffaf00;
	right: -134px;
}

.banner-image__curvs {
	position: absolute;
	left: -118px;
	top: -115px;
	z-index: -1;
}

/*--------------------------------------------------------------
# Service One
--------------------------------------------------------------*/

.service-one {
	position: relative;
	display: block;
	padding: 0 0 120px;
}

.service-one__single {
	position: relative;
	display: block;
	text-align: center;
	padding: 5px 5px 32px 5px;
	background: #ffffff;
	border-radius: 30px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.06);
}

.service-one__single:hover {
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
}

.service-one__single .service-icon {
	background: #fef6f8;
	padding: 30px 0px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.service-one__single .service-icon .icon-box {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 80px;
	width: 80px;
	border-radius: 50px;
	background: var(--thm-primary);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 32px;
	color: #fff;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}

.service-one__single .service-icon .icon-box i {
	position: relative;
	height: 80px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background: var(--thm-primary);
	width: 80px;
	z-index: 10;
	display: flex;
	border-radius: 50%;
}

.service-one__single .service-icon .icon-box:after,
.service-one__single .service-icon .icon-box:before {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--thm-primary);
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	content: "";
	position: absolute;
	opacity: 0.15;
	animation: ripple 3s infinite;
	-webkit-animation-delay: .9s;
	animation-delay: .9s;
	animation-timing-function: linear;
}

.service-one__single .service-icon .icon-box:after {
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
	opacity: 0.07;
}



.service-one__single .text h3 {
	color: var(--thm-black);
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	padding: 28px 0 20px;
}

.service-one__single .text p {
	margin: 0px;
}

.service-one__single .service-icon.icon-bg-2 {
	background: #f3f7fc;
}

.service-one__single .service-icon .icon-box.icon-box-bg-2 i,
.service-one__single .service-icon .icon-box.icon-box-bg-2::before,
.service-one__single .service-icon .icon-box.icon-box-bg-2::after {
	background: #5798fe;
}




.service-one__single .service-icon.icon-bg-3 {
	background: #f9f5f0;
}

.service-one__single .service-icon .icon-box.icon-box-bg-3 i,
.service-one__single .service-icon .icon-box.icon-box-bg-3::before,
.service-one__single .service-icon .icon-box.icon-box-bg-3::after {
	background: var(--thm-base);
}

.service-one__single .service-icon.icon-bg-4 {
	background: #f3fcf4;
}

.service-one__single .service-icon .icon-box.icon-box-bg-4 i,
.service-one__single .service-icon .icon-box.icon-box-bg-4::before,
.service-one__single .service-icon .icon-box.icon-box-bg-4::after {
	background: #56cc61;
}

/*--------------------------------------------------------------
# Cat One
--------------------------------------------------------------*/
.cta-one {
	position: relative;
	display: block;
	padding: 117px;
	background: #f3f7fc;
}

.cta-one__bg-shape-1 {
	position: absolute;
	top: 0;
	right: 0;
}

.cta-one__bg-shape-2 {
	position: absolute;
	top: 125px;
	right: 100px;
	-webkit-animation-name: squareMover;
	animation-name: squareMover;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-perspective: 100px;
	perspective: 100px;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.cat_one_moc {
	position: relative;
	display: block;
	z-index: 1;
}

.cat_one_moc-bg {
	position: absolute;
	top: 91px;
	left: -190px;
	width: 310px;
	height: 300px;
	z-index: -1;
	-webkit-animation-name: shapeMover;
	animation-name: shapeMover;
	-webkit-animation-duration: 9s;
	animation-duration: 9s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}



.cat_one_content {
	margin-left: 50px;
}

.cat_one_icon-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 50px;
}

.cta-one__icon-single {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cta-one__icon-single h3 {
	color: var(--thm-black);
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
}

.cta-one__icon-single+.cta-one__icon-single {
	margin-left: 30px;
}



.cta-one__icon i {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-size: 30px;
	background: #5798fe;
	transform: rotateY(0) perspective(90px);
	transition: transform 500ms ease;
}

.cta-one__icon-single:hover i {
	transform: rotateY(180deg) perspective(90px);
}

.cta-one__icon i.color-2 {
	background-color: #56cc61;
}

.cta-one__text {
	margin-bottom: 35px;
}

/*--------------------------------------------------------------
# Video One
--------------------------------------------------------------*/
.video-one {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 120px 0 120px;
}

.video-one .container {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 180px 15px 194px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 20px;
	z-index: 1;
}

.video-one .container:before {
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	background: rgba(87, 152, 254, .40);
	z-index: -1;
	top: 0;
	left: 0;
	border-radius: 20px;
}

.video-one__btn {
	width: 115px;
	height: 115px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	position: relative;
}

.video-one__btn:before {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #aecefe;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	-webkit-animation: videoBtnAnim 3s ease-in infinite;
	animation: videoBtnAnim 3s ease-in infinite;
	z-index: -1;
}

.video-one__btn:after {
	content: '';
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 1px solid #aecefe;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	top: calc(50% - 70px);
	left: calc(50% - 70px);
	-webkit-animation: videoBtnAnim 5s ease-in-out infinite;
	animation: videoBtnAnim 5s ease-in-out infinite;
	z-index: -1;
}

.video-one__btn i {
	color: var(--thm-black);
	font-size: 20px;
	height: 80px;
	width: 80px;
	line-height: 80px;
	background: #ffffff;
	border-radius: 50px;
	text-align: center;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.video-one__btn i:hover {
	background-color: var(--thm-black);
	color: #fff;
}

.video-title {
	margin-top: 35px;
}

.video-title h2 {
	color: #ffffff;
	font-size: 60px;
	font-family: var(--heading-font);
	text-align: center;
}

/*--------------------------------------------------------------
# Cat Two
--------------------------------------------------------------*/
.cta-two {
	position: relative;
	z-index: 10;
	display: block;
}

.cta-two__bg-shape-1 {
	position: absolute;
	top: 41px;
	right: 293px;
	-webkit-animation-name: squareMover;
	animation-name: squareMover;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-perspective: 100px;
	perspective: 100px;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}



.cta-two__moc {
	margin-left: 20px;
}

.block-title.cus-pb {
	padding-bottom: 30px;
	margin-top: -12px;
}



.cta-two__text p {
	font-size: 24px;
	line-height: 40px;
	color: #8d8d8d;
	margin: 0;
}

.cta-two__list {
	margin-top: 35px;
	margin-bottom: 52px;
}

.cta-two__list li {
	margin-bottom: 10px;
}

.cta-two__list li i {
	color: var(--thm-primary);
	font-size: 20px;
	padding-right: 10px;
}

/*--------------------------------------------------------------
# Pricing One
--------------------------------------------------------------*/
.pricing-one {
	position: relative;
	display: block;
	padding: 88px 0 120px;
}

.pricing-one-shape-1 {
	position: absolute;
	top: -327px;
	left: 0;
	width: 600px;
	height: 1055px;
}

.pricing-one ul.switch-toggler-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 63px;
}



.pricing-one ul.switch-toggler-list li a {
	font-size: 18px;
	font-weight: 600;
	color: #737789;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
}

.pricing-one ul.switch-toggler-list li.active a {
	color: var(--thm-black);
}

.pricing-one .switch {
	position: relative;
	display: inline-block;
	width: 79px;
	height: 36px;
	vertical-align: middle;
	margin: 0;
}

.pricing-one .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: .4s;
	transition: .4s;
	background: var(--thm-base);
}

.pricing-one .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 6px;
	bottom: 6px;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

.pricing-one .switch.off .slider:before {
	-webkit-transform: translateX(42px);
	transform: translateX(42px);
}

.pricing-one .slider.round {
	border-radius: 35px;
}

.pricing-one .slider.round:before {
	border-radius: 50%;
}

.pricing-one__single {
	text-align: center;
	background: #ffffff;
	border: 1px solid #eaeaea;
	padding: 45px 60px 50px;
	border-radius: 30px;
}

.pricing-one__single .circle {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
}

.pricing-one__single .circle:after,
.pricing-one__single .circle:before {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--thm-primary);
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	content: "";
	position: absolute;
	opacity: 0.15;
	animation: ripple 3s infinite;
	-webkit-animation-delay: .9s;
	animation-delay: .9s;
	animation-timing-function: linear;
}

.pricing-one__single .circle:after {
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
	opacity: 0.07;
}

.pricing-one__single .circle.circle-color-2::before,
.pricing-one__single .circle.circle-color-2::after {
	background-color: #5798fe;
}

.pricing-one__single .circle.circle-color-3::before,
.pricing-one__single .circle.circle-color-3::after {
	background-color: #56cc61;
}

.pricing-one__single .circle .count {
	height: 80px;
	width: 80px;
	background: var(--thm-primary);
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 10;
	top: 2px;
}

.pricing-one__single .circle .count h4 {
	color: #ffffff;
	font-size: 30px;
	font-family: var(--heading-font);

}

.pricing-one__single .price {
	padding: 22px 0 34px;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 38px;
}

.pricing-one__single .price h2 {
	color: var(--thm-black);
	font-size: 45px;
	font-weight: 400;
	font-family: var(--heading-font);

}

.pricing-one__single .price p {
	color: #8d8d8d;
	font-size: 18px;
	line-height: 25px;
	margin: 0;
}

.pricing-one__list {
	margin-bottom: 39px;
}



.pricing-one__list li i {
	padding-right: 7px;
	color: var(--thm-primary);
	font-size: 14px;
}

.pricing-one__list li i.icon-color-2 {
	color: #5798fe;
}

.pricing-one__list li i.icon-color-3 {
	color: #56cc61;
}

.thm-btn.pricing-one__btn {
	padding: 0 60px;
}


.pricing-one__single .count.count-color-2 {
	background: #5798fe;
}



.pricing-one__single .count.count-color-3 {
	background: #56cc61;
}

/*--------------------------------------------------------------
# Testimonials One
--------------------------------------------------------------*/
.testimonials-one {
	position: relative;
	display: block;
	background: #f3f7fc;
	padding: 120px 0;
	z-index: 1;
}

.testimonials-1-shape-3 {
	position: absolute;
	top: -80px;
	right: 149px;
	height: 283px;
	width: 283px;
	-webkit-animation-name: shapeMover;
	animation-name: shapeMover;
	-webkit-animation-duration: 9s;
	animation-duration: 9s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.testimonials-1-shape-4 {
	position: absolute;
	top: -79px;
	right: 0;
	height: 730px;
	width: 1152px;
	z-index: -1;
}

.testimonials-1-shape-5 {
	position: absolute;
	top: -1px;
	left: -261px;
	height: 590px;
	width: 810px;
}

.testimonials-one__single {
	position: relative;
	display: block;
	padding: 69px 80px 65px;
	background: var(--thm-primary);
	border-radius: 30px;
}

.testimonial-one-shape-1 {
	position: absolute;
	bottom: -47px;
	left: 95px;
}

.testimonials-one__single p.testimonials-one__text {
	color: #ffffff;
	font-size: 24px;
}

.testimonials-one__single .testimonials-one__icon {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-align: center;
	opacity: .10;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.testimonials-one__single .testimonials-one__icon i {
	color: #ffffff;
	font-size: 110px;
}

.testimonials-one-client-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-top: 30px;
	margin-left: 170px;
}

.testimonials-one__image {
	margin-right: 20px;
}



.testimonials-one-client-info h3 {
	color: var(--thm-black);
	font-size: 20px;
	font-weight: 600;
}

.testimonials-one-client-info p {
	color: #8d8d8d;
	font-size: 16px;
	line-height: 23px;
	font-weight: 600;
	margin: 0;
}

.testimonials-one__single.color-2 {
	background: #5798fe;
}


/*--------------------------------------------------------------
# App shots
--------------------------------------------------------------*/


.app-shot-one {
	padding-top: 120px;
	padding-bottom: 170px;
	position: relative;
}


.app-shot-one .container-fluid {
	max-width: 1595px;
	width: 100%;
	position: relative;
}

.app-shot-one .app-shot-one__carousel {
	padding-top: 100.5px;
	padding-bottom: 100.5px;
	margin-top: -20px;
}

.app-shot-one .app-shot-one__carousel:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-image: url(../images/app-shots/app-screen-moc6.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 305px;
	height: 651px;
	background-size: 100% auto;
	box-shadow: 0px 0px 60px 0px rgba(5, 5, 6, 0.05);
}

.page-id-1940 .app-shot-one .app-shot-one__carousel:before {
	background-image: url(../images/app-shots/app-screen-moc3-d.png);
}

@media (max-width: 1440px) {
	.app-shot-one .app-shot-one__carousel:before {
		-webkit-transform: translate(-50%, -49%) scaleY(0.95);
		transform: translate(-50%, -49%) scaleY(0.95);
	}
}

@media (max-width: 1280px) {
	.app-shot-one .app-shot-one__carousel:before {
		-webkit-transform: translate(-50%, -49%) scale(0.8);
		transform: translate(-50%, -49%) scale(0.8);
	}
}

.app-shot-one .app-shot-one__carousel .owl-dots {
	position: absolute;
	bottom: -60px;
	left: 0;
	text-align: center;
	z-index: 10;
	width: 100%;
}



.app-shot-one .owl-item img {
	-webkit-transition: -webkit-transform .4s ease;
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	transition: transform .4s ease, -webkit-transform .4s ease;
}






/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/

.faq-one {
	position: relative;
	display: block;
	background: #ffffff;
	padding: 0 0 120px;
}

.faq-one-shape-1 {
	position: absolute;
	top: 0;
	right: 225px;
}

[class*=faq-one__bg-shape-] {
	position: absolute;
	top: -220px;
	left: 0;
}

.faq-one:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 185px;
	background-color: #fff;
}

.faq-one .container {
	position: relative;
}

@media (min-width: 992px) {
	.faq-one .container {
		max-width: 1000px;
	}
}

.faq-accrodion .accrodion {
	position: relative;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	background-color: #fff;
}

.faq-accrodion .accrodion:before {
	content: '';
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: 0px;
	right: 0px;
	border-radius: 0px;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	background: var(--thm-primary);
	border-radius: 20px;
	-webkit-transition: -webkit-transform .4s ease;
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	transition: transform .4s ease, -webkit-transform .4s ease;
}



.faq-accrodion .accrodion+.accrodion {
	margin-top: 20px;
}

.faq-accrodion .accrodion.active {
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.04);

}

.faq-accrodion .accrodion.active .accrodion-inner {
	margin: 0 1px;
	border: none;
}

.faq-accrodion .accrodion.active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}


.faq-accrodion .accrodion.active .accrodion-title {
	padding-bottom: 0;
}

.faq-accrodion .accrodion.active .accrodion-title h4 {
	color: var(--thm-primary);
}

.faq-accrodion .accrodion .accrodion-inner {
	background-color: #fff;
	padding: 30.5px 0;
	border-style: solid;
	border-width: 1px;
	border-color: #eaeaea;
	border-radius: 0px;
	position: relative;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	border-radius: 20px;
}

.faq-accrodion .accrodion .accrodion-title {
	padding: 0px 40px;
	cursor: pointer;
	position: relative;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

@media (max-width: 375px) {
	.faq-accrodion .accrodion .accrodion-title {
		padding-right: 50px;
	}
}

.faq-accrodion .accrodion .accrodion-title:before {
	position: absolute;
	top: 50%;
	right: 20px;
	width: 60px;
	height: 60px;
	background: #5798fe;
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	content: '\f067';
	font-family: 'Font Awesome 5 Pro';
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-box;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.faq-accrodion .accrodion .accrodion-title:after {
	position: absolute;
	top: 50%;
	right: 20px;
	width: 60px;
	height: 60px;
	background: var(--thm-base);
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	content: '\f068';
	font-weight: 400;
	font-family: 'Font Awesome 5 Pro';
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.faq-accrodion .accrodion.active .accrodion-title:before {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.faq-accrodion .accrodion.active .accrodion-title:after {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


.faq-accrodion .accrodion .accrodion-title h4 {
	margin: 0;
	color: var(--thm-black);
	font-size: 20px;
	font-weight: 500;
}

@media (max-width: 375px) {
	.faq-accrodion .accrodion .accrodion-title h4 {
		line-height: 1.4em;
	}
}

.faq-accrodion .accrodion .accrodion-content .inner {
	padding: 0 40px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 0px;
}

.faq-accrodion .accrodion .accrodion-content p {
	margin: 0;
	color: #8d8d8d;
	font-size: 18px;
	line-height: 36px;
	font-weight: 500;
}




/*--------------------------------------------------------------
# Blog One
--------------------------------------------------------------*/
.blog-one {
	position: relative;
	display: block;
	padding: 108px 0 120px;
	background: #f3f7fc;
}

.blog-1-shape-1 {
	position: absolute;
	top: -148px;
	left: 100px;
	width: 359px;
	height: 357px;
	z-index: 1;
	-webkit-animation-name: shapeMover;
	animation-name: shapeMover;
	-webkit-animation-duration: 9s;
	animation-duration: 9s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.blog-1-shape-2 {
	position: absolute;
	top: 0px;
	left: -1px;
	width: 674px;
	height: 470px;
}

.blog-1-shape-3 {
	position: absolute;
	bottom: 0;
	right: -429px;
	width: 818px;
	height: 582px;
}

.blog-one__single {
	position: relative;
	display: block;
	overflow: hidden;
}

.blog-one__single:hover .blog-hover-box {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.blog-one__single:hover .blog-hover-box .icon-box {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition: all 500ms ease 500ms;
	-webkit-transition: all 500ms ease 500ms;
	-ms-transition: all 500ms ease 500ms;
	-o-transition: all 500ms ease 500ms;
}

.blog-one__single .blog-one__image {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 20px;
}

.blog-one__single .blog-one__image img {
	width: 100%;
}

.blog-hover-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
	-webkit-transition: all 700ms ease;
	transition: all 700ms ease;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	background-color: rgba(39, 43, 48, 0.9);
}

.blog-hover-box .box {
	display: table;
	height: 100%;
	width: 100%;
}

.blog-hover-box .icon-box {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.blog-hover-box .icon-box i {
	color: #ffffff;
	font-size: 25px;
}

.blog-hover-box .icon-box i:hover {
	color: var(--thm-base);
	transition: all 300ms ease 300ms;
	-webkit-transition: all 300ms ease 300ms;
	-ms-transition: all 300ms ease 300ms;
	-o-transition: all 300ms ease 300ms;
}

.blog-one__content {
	padding: 0 38px;
	text-align: center;
}

.blog-one__content .blog-one__meta {
	padding: 19px 0 3px;
}

.blog-one__meta a+a {
	margin-left: 12px;
}

.blog-one__content .blog-one__meta a {
	color: #8d8d8d;
	font-size: 14px;
}

.blog-one__content .blog-one__meta a:hover {
	color: var(--thm-base);
	transition: all 300ms ease 300ms;
	-webkit-transition: all 300ms ease 300ms;
	-ms-transition: all 300ms ease 300ms;
	-o-transition: all 300ms ease 300ms;
}

.blog-one__content .blog-one__meta i {
	color: var(--thm-primary);
	font-size: 15px;
	padding-right: 2px;
}

.blog-one__content .blog-one__meta a:hover i {
	color: var(--thm-base);
	transition: all 300ms ease 300ms;
	-webkit-transition: all 300ms ease 300ms;
	-ms-transition: all 300ms ease 300ms;
	-o-transition: all 300ms ease 300ms;
}

.blog-one__content h3 a {
	color: var(--thm-black);
	font-size: 30px;
	font-family: var(--heading-font);
}

.blog-one__content h3 a:hover {
	color: var(--thm-base);
	transition: all 300ms ease 300ms;
	-webkit-transition: all 300ms ease 300ms;
	-ms-transition: all 300ms ease 300ms;
	-o-transition: all 300ms ease 300ms;
}

.blog-one__content .blog-one__text {
	padding: 40px 0 24px;
}

.blog-one__content .blog-one__text p {
	margin: 0;
	color: #8d8d8d;
}

.blog-one__content a.blog-one__btn {
	line-height: 54px;
	padding: 0 35px;
}

/*--------------------------------------------------------------
# Brand One
--------------------------------------------------------------*/
.brand-one {
	position: relative;
	display: block;
	padding-top: 123px;
	padding-bottom: 124px;
	border-top: 1px solid #eaeaea;
}

@media(min-width: 1200px) {
	.brand-one .container {
		padding-left: 60px;
		padding-right: 60px;
	}
}

.brand-one__carousel img {
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.brand-one__carousel img:hover {
	opacity: .6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

/*--------------------------------------------------------------
# Mailchimp One
--------------------------------------------------------------*/
.mailchimp-one {
	position: relative;
	display: block;
	z-index: 10;
}

.mailchimp-one .inner-container {
	position: relative;
	display: block;
	padding: 54px 100px 60px 100px;
	background: var(--thm-primary);
	text-align: center;
	border-radius: 20px;
}

.inner-container .mailchimp-one-title {
	margin-bottom: 27px;
}

.inner-container .mailchimp-one-title h2 {
	color: #ffffff;
	font-size: 50px;
	font-family: var(--heading-font);
}

.mailchimp-one__form {
	background: #ffffff;
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	border-radius: 100px;
	padding: 38px 42px;
}

.mailchimp-one__form input[type=text] {
	height: 65px;
	max-width: 620px;
	width: 100%;
	border: none;
	background: #eaeaea;
	border-radius: 50px;
	padding: 0 25px;
}

.mailchimp-one__btn {
	border: none;
	margin-left: 16px;
}

/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
	position: relative;
	display: block;
	background: var(--thm-black);
	padding: 5px 0 13px;
	overflow: hidden;
	margin-top: -15px;
}

.site-footer-bg {
	position: absolute;
	bottom: -20%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 739px;
	height: 453px;
	opacity: .10;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	background-repeat: no-repeat;
	background-size: cover;
}

.site-footer .container {
	position: relative;
}

.footer-widget__social {
	padding: 37px 0 29px 0;
}

.footer-widget__social li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.footer-widget__social li a {
	color: #ffffff;
	height: 40px;
	width: 40px;
	border-radius: 50px;
	background: var(--thm-primary);
	display: inline-block;
	line-height: 40px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.footer-widget__social li a.color-1 {
	background: #5798fe;
}

.footer-widget__social li a.color-1:hover {
	color: #5798fe;
	background-color: #fff;
}

.footer-widget__social li a.color-2 {
	background: var(--thm-base);
}

.footer-widget__social li a.color-2:hover {
	color: var(--thm-base);
	background-color: #fff;
}

.footer-widget__social li a.color-3 {
	background: #56cc61;
}

.footer-widget__social li a.color-3:hover {
	color: #56cc61;
	background-color: #fff;
}



.footer-menu {
	padding-bottom: 6px;
}



.footer-menu ul li {
	list-style: none;
	display: inline-block;
}

.footer-menu ul li a {
	color: #8d8d8d;
	font-size: 18px;
	display: inline-block;
	padding: 0 45px 0 0;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.footer-menu ul li a:hover {
	color: #fff;
}

.site-footer__bottom p {
	margin: 0;
	color: #8d8d8d;
	margin-bottom: 7px;
	font-size: 17px;
}

.site-footer__bottom p a {
	color: var(--thm-primary);
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.site-footer__bottom p a:hover {
	color: #fff;
}



/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/

.page-header {
	padding: 65px 0 81px;
	background-color: #f6f6fb;
}

.page-header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.page-header h2 {
	margin: 0;
	font-size: 50px;
	font-family: var(--heading-font);
	line-height: 1.2em;
	color: var(--thm-black);
}

/*--------------------------------------------------------------
# BreadCrumb
--------------------------------------------------------------*/


.thm-breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 0;
}

.thm-breadcrumb li {
	color: #8d8d8d;
	font-size: 16px;
	font-weight: 500;
	line-height: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.thm-breadcrumb li:not(:last-of-type):after {
	margin-left: 10px;
	content: '-';
	margin-right: 10px;
}

.thm-breadcrumb li a {
	color: var(--thm-black);
	-webkit-transition: 500ms ease;
	transition: 500ms ease;
}

.thm-breadcrumb li a:hover {
	color: var(--thm-base);
}

/*--------------------------------------------------------------
# Blog Two
--------------------------------------------------------------*/
.blog-one.blog-two {
	background: #ffffff;
	padding: 120px 0 60px;
}

.blog-one__single.mbt-60 {
	margin-bottom: 60px;
}


/*--------------------------------------------------------------
# Footer Two
--------------------------------------------------------------*/
.site-footer.footer-two {
	padding: 93px 0 33px;
	margin-top: 0;
}


/*--------------------------------------------------------------
# Blog Details
--------------------------------------------------------------*/
.blog-details {
	position: relative;
	display: block;
	padding: 120px 0;
}



.blog-details__image {
	margin-bottom: 20px;
}





.blog-details__content .blog-one__meta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.blog-details__content .blog-one__meta a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #8d8d8d;
	font-size: 16px;
	font-weight: 500;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.blog-details__content .blog-one__meta a i {
	color: var(--thm-primary);
	padding-right: 7px;
}

.blog-details__content .blog-one__meta a+a {
	margin-left: 15px;
}

.blog-details__content h3 {
	color: var(--thm-black);
	font-size: 40px;
	line-height: 56px;
	margin-bottom: 32px;
	font-family: var(--heading-font);
}



.blog-details__content p+p {
	margin-top: 36px;
}

.blog-details__meta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-top: 1px solid #e4e4ee;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 52px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.blog-details__tags {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.blog-details__tags span {
	color: var(--thm-black);
	font-size: 20px;
	margin-right: 10px;
	font-family: var(--heading-font);
}

.blog-details__tags a {
	color: #8d8d8d;
	font-size: 16px;
}

.blog-details__tags a+a {
	margin-left: 5px;
}

.blog-details__share {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.blog-details__share a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: var(--thm-primary);
	font-size: 16px;
	color: #fff;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.blog-details__share a:hover {
	color: var(--thm-primary);
	background-color: var(--thm-black);
}



.blog-details__share a+a {
	margin-left: 10px;
}

.blog-details__share a.color-1 {
	background: #5798fe;
}

.blog-details__share a.color-1:hover {
	background: var(--thm-black);
	color: #5798fe;
}

.blog-details__share a.color-2 {
	background: var(--thm-base);
}

.blog-details__share a.color-2:hover {
	color: var(--thm-base);
	background: var(--thm-black);
}

.blog-details__share a.color-3 {
	background: #56cc61;
}

.blog-details__share a.color-3:hover {
	color: #56cc61;
	background-color: #000;
}

.blog-author {
	background-color: #f3f7fc;
	border-radius: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 60px;
	margin-bottom: 58px;
}



.blog-author__image>img {
	width: 170px;
	border-radius: 20px;
}

.blog-author__content {
	padding-left: 40px;
}

.blog-author__content h3 {
	color: var(--thm-black);
	font-size: 20px;
	margin-bottom: 21px;
	font-family: var(--heading-font);
}

.blog-author__content p {
	margin: 0;
}



.comment-one__block-title {
	margin: 0;
	margin-bottom: 54px;
	font-size: 26px;
	color: var(--thm-black);
	font-family: var(--heading-font);
}

.comment-one__single {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	border-bottom: 1px solid #e4e4ee;
	padding-bottom: 50px;
	margin-bottom: 60px;
}

.comment-one__image {
	width: 90px;
}


.comment-one__image>img {
	border-radius: 50%;
}

.comment-one__content {
	padding-left: 40px;
}

.comment-one__content h3 {
	color: var(--thm-black);
	font-size: 20px;
	font-family: var(--heading-font);
}

.comment-one__content .comment-one__date {
	color: var(--thm-primary);
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;
	font-weight: 600;
}

.comment-one__content p {
	margin: 0;
}



.comment-one__btn {
	height: 54px;
	line-height: 54px;
	padding: 0 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-one__form input[type="text"] {
	border: none;
	outline: none;
	display: block;
	width: 100%;
	height: 72px;
	border-radius: 20px;
	background-color: var(--thm-gray);
	padding-left: 30px;
	padding-right: 30px;
	color: #8d8d8d;
	background-color: #f3f7fc;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
	border-radius: 30px;
}


.contact-one__form textarea {
	height: 160px;
	width: 100%;
	background: #f3f7fc;
	border: none;
	padding: 35px 30px;
	border-radius: 30px;
	margin-bottom: 10px;
	outline: none;
}

.contact-one__btn {
	border: none;
	padding: 0 50px;
}

.contact-one__form ::-webkit-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}


.contact-one__form ::-moz-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}


.contact-one__form :-ms-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}


.contact-one__form ::-ms-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}


.contact-one__form ::-webkit-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}


.contact-one__form ::-moz-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}


.contact-one__form :-ms-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}


.contact-one__form ::placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}




.contact-one__form textarea::-webkit-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}

.contact-one__form textarea:-moz-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}

.contact-one__form textarea::-moz-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}

.contact-one__form textarea:-ms-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #8d8d8d;
}




.sidebar__search-form {
	width: 100%;
	height: 85px;
	position: relative;
	border-radius: 20px;
	background: var(--thm-primary);
}

.sidebar__search-form input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
	padding-left: 50px;
	padding-right: 37px;
}

.sidebar__search-form ::-webkit-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #fff;
}

.sidebar__search-form :-ms-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #fff;
}

.sidebar__search-form ::-ms-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #fff;
}

.sidebar__search-form ::-moz-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #fff;
}

.sidebar__search-form ::-webkit-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #fff;
}

.sidebar__search-form :-ms-input-placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #fff;
}

.sidebar__search-form ::placeholder {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color: #fff;
}

.sidebar__search-form button[type=submit] {
	background-color: transparent;
	border: none;
	outline: none;
	position: absolute;
	top: 50%;
	right: 50px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	padding: 0;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.sidebar__search-form button[type=submit] i {
	font-size: 16px;
	color: #fff;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/


@media (max-width: 991px) {
	.sidebar {
		margin-top: 50px;
	}
}

.sidebar__title {
	margin: 0;
	color: var(--thm-black);
	font-size: 22px;
	margin-bottom: 24px;
	font-family: var(--heading-font);
}

.sidebar__single:not(.sidebar__search) {
	padding: 50px;
	background-color: #f3f7fc;
	border-radius: 20px;
}

@media (max-width: 1199px) {
	.sidebar__single:not(.sidebar__search) {
		padding: 30px;
	}
}

.sidebar__single+.sidebar__single {
	margin-top: 30px;
}

.sidebar__post__single+.sidebar__post__single {
	margin-top: 30px;
}

.sidebar__post-image,
.sidebar__post-content {
	display: table-cell;
	vertical-align: middle;
}

.sidebar__post-image {
	width: 60px;
}

.sidebar__post-image .inner-block {
	width: 100%;
}

.sidebar__post-image .inner-block>img {
	width: 100%;
	border-radius: 50%;
}

.sidebar__post-content {
	padding-left: 20px;
}

.sidebar__post-title {
	margin: 0;
	font-size: 16px;
	line-height: 28px;
	font-weight: 600;
	color: #8d8d8d;
}

.sidebar__post-title a {
	color: inherit;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.sidebar__post-title a:hover {
	color: var(--thm-black);
}

.sidebar__category-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar__category-list-item {
	line-height: 1em;
}

.sidebar__category-list-item a {
	color: #8d8d8d;
	font-size: 16px;
	font-weight: 500;
	display: block;
	position: relative;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}


.sidebar__category-list-item a:hover {
	color: var(--thm-black);
}

.sidebar__category-list-item+.sidebar__category-list-item {
	margin-top: 27px;
}

.sidebar__tags-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: -10px;
}

.sidebar__tags-list-item {
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
}

.sidebar__tags-list-item a {
	display: block;
	color: #737789;
	font-size: 16px;
	font-weight: 600;
	line-height: 1em;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.sidebar__tags-list-item a:hover {
	color: var(--thm-black);
}